:root {
  --off-black: #0C0816;
  --off-white: #F4EFFF;
  --lavender: #D1BEF4;
  --blue: #3B77CB;
  --purple: #362560;
  --max-text-width: 75rem;
}

@font-face {
  font-family: "Noto Sans";
  src: url(font/NotoSans-Regular.ttf);
}
@font-face {
  font-family: "Noto Sans";
  src: url(font/NotoSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Noto Sans";
  src: url(font/NotoSans-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: url(font/NotoSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

/* Base Styles */

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8em;
  line-height: 1.45;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: black;
  background-color: var(--off-white);
}


/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}
h1 {
  font-size: 3.2rem;
  line-height: 1.35;
}
h2 {
  font-size: 2.6rem;
  line-height: 1.4;
}
h3 {
  font-size: 2.0rem;
  line-height: 1.45;
}

/* Links */

a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Body */

p {
  margin: 0 0 0.7rem 0;
  padding: 0;
}
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol, ul {
  padding: 0;
  margin: 0 0 0.7rem 2rem;
}
ul.horizontal {
  list-style: none;
  margin: 0;
}
li {
  margin-bottom: 0.7rem;
}
.horizontal > li {
  margin: 0 0.5rem 0 0.5rem;
}

/* Code */

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  white-space: nowrap;
  background: var(--off-black);
  color: var(--off-white);
}

/* Tables */

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--off-black);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

/* Images */

img {
  /* display: inline-block; */
  float: left;
  width: 10rem;
  height: 10rem;
  margin: 0 2rem 0 0;
  border-radius: 50%;
}

/* Structure */

section, .section {
  box-sizing: border-box;
  margin: 1rem 0 2rem 0;
  padding: 0 0 0 2rem;
  border-left: medium solid lightgrey;
}

.root {
  margin: auto;
  padding: 1rem 1rem 1rem 2rem;
  background-color: var(--off-white);
  width: var(--max-text-width);
  max-width: 100%;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header > p {
  font-style: italic;
}

.horizontal {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.grid-branch {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.grid-branch > section {
  border-left: none;
  border-top: medium solid lightgrey;
  padding: 0.5rem 0 0 0;
  width: 21rem;
  max-width: 100%;
  margin: 0 1rem 1rem 0;
}

/* Profile */

.bio {
  max-width: 100%;
  /* text-align: center; */
}

